<a href="https://colab.research.google.com/github/silviacfreitas/BootcampDataScienceAplicadaAlura/blob/main/BootcampDSModulo03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MÃ³dulo 03

# Aula 01

In [1]:
import pandas as pd
from zipfile import ZipFile

In [2]:
url = "/content/drive/MyDrive/BootcampDSModulo03/PeNSE_2015_AMOSTRA2.zip"

In [3]:
zip = ZipFile(url)

In [4]:
zip.infolist()

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>,
 <ZipInfo filename='arquivos sas/' external_attr=0x10>,
 <ZipInfo filename='arquivos sas/pense_amostra2_aluno.sas7bdat' compress_type=deflate external_attr=0x20 file_size=24691712 compress_size=1957530>,
 <ZipInfo filename='arquivos sas/pense_amostra2_alunoescola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=45253632 compress_size=2461932>,
 <ZipInfo filename='arquivos sas/pense_amostra2_escola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=18105344 compress_size=332162>,
 <ZipInfo filename='arquivos xlsx/' external_attr=0x10>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx' compress_type=deflate external_attr=0x20 file_size=11757246 compress_size=11337133>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=18732739 compress_size=17064325>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=7159579 compress_size=3209953>,
 <ZipInfo filename='Dicionario_PENSE_Microdados_AMOSTRA2.xls' compress_type=deflate external_attr=0x20 file_size=144896 compress_size=35737>]

In [5]:
zip.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [6]:
caminho_pasta_zipada = zip.namelist()[1]
caminho_pasta_zipada

'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'

In [7]:
dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep=";", thousands='.', decimal=',')
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

### Desafio 01: Descompactar a pasta usando comandos Bash

O Colab utiliza Linux, portanto Ã© possÃ­vel utilizar os comandos bash para acessar pastas e arquivos

In [8]:
!ls

drive  sample_data

In [9]:
cd drive

/content/drive

In [10]:
cd MyDrive/

/content/drive/MyDrive

In [11]:
cd BootcampDSModulo03/

/content/drive/MyDrive/BootcampDSModulo03

In [12]:
#!unzip PeNSE_2015_AMOSTRA2.zip
# a pasta jÃ¡ havia sido descompactada no teste, por isso nÃ£o Ã© necessÃ¡rio rodar este comando novamente

In [13]:
ls

'arquivos csv'/    BootcampDSModulo03.ipynb
'arquivos sas'/    Dicionario_PENSE_Microdados_AMOSTRA2.xls
'arquivos xlsx'/   PeNSE_2015_AMOSTRA2.zip

In [14]:
cd arquivos\ csv

/content/drive/MyDrive/BootcampDSModulo03/arquivos csv

In [15]:
ls

PENSE_AMOSTRA2_ALUNO.CSV        PENSE_AMOSTRA2_ESCOLA.CSV
PENSE_AMOSTRA2_ALUNOESCOLA.CSV

In [16]:
caminho = '/content/drive/My Drive/BootcampDSModulo03/arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'

In [17]:
dados = pd.read_csv(caminho, sep=';', thousands='.', decimal=',')
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

# Aula 02

In [18]:
dados.shape

(16556, 181)

In [19]:
dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [20]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [21]:
dados.select_dtypes(include='float64')

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0              0.0        15.0         0.0  ...     37.1    157.0  299.735235
1            120.0       510.0       260.0  ...     50.2    152.0  355.170081
2              0.0       585.0       130.0  ...     48.2    161.4  299.735235
3              0.0         0.0         0.0  ...     69.4    172.5  355.170081
4             30.0       165.0        90.0  ...     78.9    167.5  299.735235
...            ...         ...         ...  ...      ...      ...         ...
16551         30.0       400.0       110.0  ...     56.7    167.9  447.815539
16552         20.0       800.0       325.0  ...     61.9    185.8  592.507440
16553          0.0         0.0         0.0  ...     60.9    159.4  401.131512
16554         75.0       215.0        35.0  ...     47.3    157.8  442.718091
16555         50.0       485.0       110.0  ...     62.6    163.9  592.507440

[16556 rows x 10 columns]

# Aula 03

Explorando os dados: <br><br>
Vamos observar primeiro a pergunta 'VB01001': <br><br>
Qual Ã© o seu sexo? <br>


1.   Masculino
2.   Feminino

In [22]:
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [23]:
dados['VB01001'].value_counts(normalize=True) * 100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

A prÃ³xima questÃ£o que iremos abordar Ã© a 'VB11007': <br><br>
Como vocÃª se sente em relaÃ§Ã£o ao seu corpo?<br>
1. Muito satisfeito(a)
2. Satisfeito(a)
3. Indiferente
4. Insatisfeito(a)
5. Muito insatisfeito(a)
99. NÃ£o informado

In [24]:
frequencia = dados['VB11007'].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [25]:
percentual = dados['VB11007'].value_counts(normalize=True) * 100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

In [29]:
respostas = {
  1: 'Muito satisfeito(a)',
  2: 'Satisfeito(a)',
  3: 'Indiferente',
  4: 'Insatisfeito(a)',
  5: 'Muito insatisfeito(a)',
  99: 'NÃ£o informado',
}

dist_freq = pd.DataFrame({'FrequÃªncia': frequencia, 'Percentual': percentual})
dist_freq.rename(index=respostas, inplace=True)
dist_freq.rename_axis('Sentimento com relaÃ§Ã£o ao corpo', axis=1, inplace=True)
dist_freq

Sentimento com relaÃ§Ã£o ao corpo  FrequÃªncia  Percentual
Satisfeito(a)                          6920   41.797536
Muito satisfeito(a)                    4608   27.832810
Insatisfeito(a)                        2326   14.049287
Indiferente                            1807   10.914472
Muito insatisfeito(a)                   714    4.312636
NÃ£o informado                           181    1.093259

### Desafio 02: Criar uma funÃ§Ã£o para gerar as tabelas de frequÃªncia e fazer a anÃ¡lise de outras informaÃ§Ãµes.

In [32]:
def criar_freq(numero_pergunta: str, pergunta: str, respostas: object):
  frequencia = dados[numero_pergunta].value_counts()
  percentual = dados[numero_pergunta].value_counts(normalize=True)*100
  dist_frequencia = pd.DataFrame({'FrequÃªncia': frequencia, 'Percentual': percentual})
  dist_frequencia.rename(index=respostas, inplace=True)
  dist_frequencia.rename_axis(pergunta, axis=1, inplace=True)
  return dist_frequencia

In [33]:
criar_freq('VB10004', 
           'NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª lavou as mÃ£os antes de comer?',
           {
              1: 'Nunca',
              2: 'Raramente',
              3: 'Ãs vezes',
              4: 'Na maioria das vezes',
              5: 'Sempre',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª lavou as mÃ£os antes de comer?  FrequÃªncia  Percentual
Sempre                                                                            7804   47.136990
Na maioria das vezes                                                              4074   24.607393
Ãs vezes                                                                          2634   15.909640
Raramente                                                                         1419    8.570911
Nunca                                                                              553    3.340179
NÃ£o informado                                                                       72    0.434888

In [34]:
criar_freq('VB10005', 
           'NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª lavou as mÃ£os apÃ³s usar o banheiro ou o vaso sanitÃ¡rio?',
           {
              1: 'Nunca',
              2: 'Raramente',
              3: 'Ãs vezes',
              4: 'Na maioria das vezes',
              5: 'Sempre',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª lavou as mÃ£os apÃ³s usar o banheiro ou o vaso sanitÃ¡rio?  FrequÃªncia  Percentual
Sempre                                                                                                     11631   70.252476
Na maioria das vezes                                                                                        2498   15.088186
Ãs vezes                                                                                                    1334    8.057502
Raramente                                                                                                    666    4.022711
Nunca                                                                                                        342    2.065716
NÃ£o informado                                                                                                 85    0.513409

In [35]:
criar_freq('VB10006', 
           'NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª usou sabÃ£o ou sabonete quando lavou suas mÃ£os?',
           {
              1: 'Nunca',
              2: 'Raramente',
              3: 'Ãs vezes',
              4: 'Na maioria das vezes',
              5: 'Sempre',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 30 DIAS, com que frequÃªncia vocÃª usou sabÃ£o ou sabonete quando lavou suas mÃ£os?  FrequÃªncia  Percentual
Sempre                                                                                             9712   58.661512
Na maioria das vezes                                                                               3545   21.412177
Ãs vezes                                                                                           2015   12.170814
Raramente                                                                                           873    5.273013
Nunca                                                                                               308    1.860353
NÃ£o informado                                                                                       103    0.622131

In [37]:
criar_freq('VB09003', 
           'NOS ÃLTIMOS 30 DIAS, quantas vezes vocÃª foi agredido(a) fisicamente por um adulto da sua famÃ­lia?',
           {
              1: 'Nenhuma vez',
              2: '1 vez',
              3: '2 ou 3 vezes',
              4: '4 ou 5 vezes',
              5: '6 ou 7 vezes',
              6: '8 ou 9 vezes',
              7: '10 ou 11 vezes',
              8: '12 vezes ou mais',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 30 DIAS, quantas vezes vocÃª foi agredido(a) fisicamente por um adulto da sua famÃ­lia?  FrequÃªncia  Percentual
Nenhuma vez                                                                                             14164   85.552066
1 vez                                                                                                     962    5.810582
2 ou 3 vezes                                                                                              439    2.651607
12 vezes ou mais                                                                                          254    1.534187
4 ou 5 vezes                                                                                              218    1.316743
NÃ£o informado                                                                                             161    0.972457
6 ou 7 vezes                                                                                              158    0.954337
8 ou 9 vezes                                                                                              119    0.718773
10 ou 11 vezes                                                                                             81    0.489249

In [38]:
criar_freq('VB12001', 
           'NOS ÃLTIMOS 12 MESES com que frequÃªncia tem se sentido sozinho(a)? ',
           {
              1: 'Nunca',
              2: 'Raramente',
              3: 'Ãs vezes',
              4: 'Na maioria das vezes',
              5: 'Sempre',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 12 MESES com que frequÃªncia tem se sentido sozinho(a)?   FrequÃªncia  Percentual
Nunca                                                                      5805   35.062817
Ãs vezes                                                                   4580   27.663687
Raramente                                                                  3584   21.647741
Na maioria das vezes                                                       1601    9.670210
Sempre                                                                      920    5.556898
NÃ£o informado                                                                66    0.398647

In [39]:
criar_freq('VB12002', 
           'NOS ÃLTIMOS 12 MESES, com que frequÃªncia vocÃª nÃ£o conseguiu dormir Ã  noite porque algo o(a) preocupava muito? ',
           {
              1: 'Nunca',
              2: 'Raramente',
              3: 'Ãs vezes',
              4: 'Na maioria das vezes',
              5: 'Sempre',
              99: 'NÃ£o informado'
           })

NOS ÃLTIMOS 12 MESES, com que frequÃªncia vocÃª nÃ£o conseguiu dormir Ã  noite porque algo o(a) preocupava muito?   FrequÃªncia  Percentual
Nunca                                                                                                                 5701   34.434646
Raramente                                                                                                             4736   28.605943
Ãs vezes                                                                                                              4149   25.060401
Na maioria das vezes                                                                                                  1374    8.299106
Sempre                                                                                                                 519    3.134815
NÃ£o informado                                                                                                           77    0.465088

In [40]:
criar_freq('VB12003', 
           'Quantos amigos(as) prÃ³ximos vocÃª tem?',
           {
              1: 'Nenhum',
              2: '1',
              3: '2',
              4: '3 ou mais',
              99: 'NÃ£o informado'
           })

Quantos amigos(as) prÃ³ximos vocÃª tem?  FrequÃªncia  Percentual
3 ou mais                                   12803   77.331481
2                                            2056   12.418459
1                                             988    5.967625
Nenhum                                        642    3.877748
NÃ£o informado                                  67    0.404687